.layout-container {
  width: 100%;
  position: absolute;
  margin-top: 25px;
}

.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
  margin: 0 auto;
}

.nav-link {
  font-family: HelveticaNeue-Bold;
  color: white;
  padding: 10px 0;
  cursor: pointer;
  transition: 0.25s;
}

.active,
.nav-link:hover {
  color: orange;
}

.contact-us {
  background-color: transparent;
  padding: 10px 15px;
  border: solid 1px white;
  color: white;
  font-family: HelveticaNeue-bold;
  cursor: pointer;
}
