.call-to-action-container {
  max-width: 73.75rem;
  width: 80vw;
  height: 11.188rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5.938rem;
}

.arrow {
  height: 25px;
  margin-left: 1rem;
}

.lets-talk-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.lets-talk-text {
  font-family: HelveticaNeue-Medium;
  font-size: 0.688rem;
  line-height: 1.25rem;
  letter-spacing: 1px;
  padding: 0 25px;
}

.cta-text {
  font-family: HelveticaNeue-Bold;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.63px;
  padding: 0 25px;
}

@media only screen and (max-width: 1200px) {
  .call-to-action-container {
    flex-direction: column;
    align-items: center;
  }
}
