.marquee-container {
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.marquee-content {
  font-family: HelveticaNeue;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: left;
  align-items: center;
  margin-top: 19.5rem;
}

.marquee-headline {
  font-size: 5.25rem;
  width: 38.25rem;
}

.marquee-subhead {
  font-size: 0.875rem;
  width: 22.5rem;
  line-height: 1.625rem;
}
