.marquee-container {
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
}

.marquee-content {
  /* height: 10rem; */
  font-family: HelveticaNeue;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 73.75rem;
  text-align: left;
  align-items: center;
  /* margin-top: 12.5rem; */
}

.marquee-headline {
  width: 40.25rem;
  letter-spacing: -2.2px;
  /* line-height: 5.25rem; */
  font-family: HelveticaNeue;
  font-size: 5.25rem;
  font-weight: bold;

  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -2.2px;
}

.marquee-subhead {
  font-size: 0.875rem;
  width: 22.5rem;
  line-height: 1.625rem;
  letter-spacing: 0;
}

.empty-container {
  height: 25vh;
}
